<h1>Client Page</h1>

<p><%= @client.first_name() %> <%= @client.last_name()%></p>
<p>phone: <%= @client.phone() %></p>





<form action="/clients/<%= @client.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Client</button>
</form>
<br>
<a href="/clients/<%= @client.id() %>/edit">Update Client Information</a>
<br>
<a href="/clients">Back</a>
