<h1>Stylist Page</h1>

<h3>Name: <%= @stylist.first_name() %> <%= @stylist.last_name()%></h3>
<h4>Phone: <%= @stylist.phone() %></h4>


<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Stylist</button>
</form>

<br>
<a href="/stylists/<%= @stylist.id() %>/edit">Update Stylist Information</a>
<br>

<% if @stylist.clients().any?() %>
  <h3>Here are all the clients for this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.first_name() %> <%= client.last_name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
<% end %>




<h2>Add client for stylist</h2>

<a href="/stylists/<%= @stylist.id() %>/new">Add Client</a>

<br>



<br>
<a href="/stylists">Back</a>
